.systemPerformance {
    display: block;
    padding: 20px;
}

.systemItem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* 반응형을 위한 flex-wrap 추가 */
    margin-bottom: 20px;
}

.systemSeries {
    width: 30%;
    margin-bottom: 20px;
}

.systemName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* 반응형 미디어 쿼리 */
@media (max-width: 1024px) {
    .systemSeries {
        width: 45%; /* 중간 크기 화면에서 45%로 조정 */
    }
}

@media (max-width: 768px) {
    .systemSeries {
        width: 100%; /* 작은 화면에서는 각 항목이 가로로 꽉 차게 조정 */
    }
    .systemName {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .systemPerformance {
        padding: 10px; /* 모바일에서는 패딩을 줄임 */
    }
    .systemName {
        font-size: 14px;
    }
}
